html {
    font-family: Roboto;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}
.content-top {
    background-color: #1F2937;
    height: 300px;
    border: 2px solid green;
}
.header {
    border: 2px solid red;
    display: flex;    
}
.logo,.links {
    border: 2px solid red;
    display: flex;
}
.logo {   
    padding-top: 14px;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 700;
    justify-content: flex-start;
    padding-left: 100px;
}
.links {
    justify-content: flex-end;
    margin-left: auto;
    padding-right: 100px;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  .top-left {
    border: 2px solid orange;
    height: 300px;
    margin-top: 240px;
  }
