html {
    font-family: Roboto;
}
body {
    margin: 0;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}
.content-top {
    background-color: #1F2937;
    padding-bottom: 75px;
}
    
.header {    
    display: flex;    
}
.logo,.links {
    display: flex;
}
.logo {   
    padding-top: 14px;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 700;
    justify-content: flex-start;
    padding-left: 100px;
}
.links {
    justify-content: flex-end;
    margin-left: auto;
    padding-right: 100px;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  .container-top {
    display: flex;
  }
  .top-left{
    padding-right: 25px;
  }
.hero-title {
    display: flex;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    justify-content: flex-start;
    padding-left: 100px;
    margin-bottom: 0px;
}
.header-p {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    padding-left: 100px;
    margin-top: 0px;
}
.button-one {
    display: flex;
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 10px;
    border: none;
    margin-left: 100px;
    padding: 10px 20px 10px 20px;
    font-weight: 700;
}
.img {
    height: 200px;
    width: 350px;
}
.top-right {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    padding-right: 100px;
    align-items: center;
}
.one,.two,.three,.four {
    width: 120px;
    height: 120px;
    border-radius: 15px;
}
.content-mid {
    display: flex;
    justify-content: center;
    padding: 0 150px 75px 150px;
}
figcaption {
    font-size: 14px;
    text-align: center;
    color: #1f2937;
}
.title-mid {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}
.content-bottom {
    background-color: #e5e7eb;
    padding: 75px 0 0 0;
    display: flex;
    flex-direction: column;
}
blockquote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
    padding: 0 130px 0 130px;
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-top: 0;
}
.thor {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    padding-right: 200px;
}
.footer {
    display: flex;
    padding: 75px 100px 75px 100px;
    justify-content: center;
    align-items: center;

}
.footer-container {
    background-color: #3882f6;
    border-radius: 5px;
    display: flex;
    
}
.footer-title {
    color: #e5e7eb; 
    display: flex;   
    justify-content: flex-start;
    margin: 0;
    font-size: 1.3em;
    padding: 25px 0 0 100px;
}
.footer-p {
    font-size: .9em;  
    color: #e5e7eb; 
    margin: 0; 
    padding: 0 0 25px 100px;
}
.footer-left {
    display: flex;
    flex-direction: column;
}
.footer-right {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    padding-right: 100px;
    align-items: center;
}
.footer-button {
    
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 8px;
    border: none;
    margin-left: 100px;
    padding: 5px 20px 5px 20px;
    font-weight: 700;
    border: 2px solid #e5e7eb;
    flex-shrink: 0;
}