html {
    font-family: Roboto;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}
.content-top {
    background-color: #1F2937;
    height: 375px;
}
    
.header {    
    display: flex;    
}
.logo,.links {
    display: flex;
}
.logo {   
    padding-top: 14px;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 700;
    justify-content: flex-start;
    padding-left: 100px;
}
.links {
    justify-content: flex-end;
    margin-left: auto;
    padding-right: 100px;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  .container-top {
    display: flex;
  }
  .top-left{
    padding-right: 25px;
  }
.hero-title {
    display: flex;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    justify-content: flex-start;
    padding-left: 100px;
    margin-bottom: 0px;
}
p {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    padding-left: 100px;
    margin-top: 0px;
}
.button-one {
    display: flex;
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 10px;
    border: none;
    margin-left: 100px;
    padding: 10px 20px 10px 20px;
    font-weight: 700;
}
.img {
    height: 200px;
    width: 350px;
}
.top-right {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    padding-right: 100px;
    align-items: center;
}